@import "tailwindcss";

@theme {
  --color-brand-navy: #0f172a;
  --color-brand-dark: #020617;
  --color-brand-lime: #a3e635;
  --color-brand-cyan: #06b6d4;
  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased selection:bg-cyan-500 selection:text-white;
    font-family: var(--font-sans);
  }
}